  <div class="widget-wrap">
    <h3 class="widget-title">Time</h3>
    <div class="widget time">
      <style id="clock-animations"></style>
      <div class="clock-wrapper">
        <div class="clock-base">
            <div class="clock-indicator">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="clock-hour"></div>
            <div class="clock-minute"></div>
            <div class="clock-second"></div>
            <div class="clock-center"></div>
        </div>
      </div>
    </div>
  </div>
